<script>
</script>

<>
  <div>
    {{> Hello }}
    <div>Small test to see whether this works alright</div>
    {{> Counter }}
  </div>
</>

<style>
.header {
  color: green;
  background-color: red;
}
</style>